@using BymseBooks.Core.Models
@using BymseBooks.DataLayer.Entity

<a class="book-card" href="/Book/@Book.Id">
    <div class="book-card__title">
        @Book.Title
    </div>

    <div class="book-card__tags">
        @foreach (var tag in Book.Tags)
        {
            <span>#@tag.Replace(" ", "")</span>
        }
    </div>

    @if (Book.State == BookState.Paused)
    {
        <div class="book-card__paused">
            <span>paused</span>
        </div>
    }
    
    <div class="book-card__progress">
        @if (Book.Percents.HasValue)
        {
            <span class="book-card__progress_title">@Book.Percents%</span>
            <div class="book-card__progress-bar">
                <span style="width: @Book.Percents%" class="book-card__progress-bar_done"></span>
            </div>
        }
    </div>
</a>

@code {
    //todo: detect overflow and add ellipsis

    [Parameter]
    public BookModel Book { get; set; }

}