@page "/"
@page "/Grid"
@using BymseBooks.Core.Features.BooksList
@using BymseBooks.DataLayer.Entity
@inject BooksService BooksService
@inject IJSRuntime JsRuntime

<section class="books-grid__container">
    <div class="books-grid">
        @foreach (var book in Books)
        {
            <BookCard Book="book"/>
        }
    </div>
    <div class="load-more">
        @if (ShowLoadMore)
        {
            <button type="button" title="Load more" class="load-more__btn" @onclick="LoadBooks"></button>
        }
        else
        {
            <span class="load-more__text">All books are here</span>
            <button type="button" class="load-more__btn load-more__btn_up" @onclick="ScrollUp"></button>
        }
    </div>
</section>


@code {

    private BookState? nextState = BookState.Active;

    private bool ShowLoadMore => nextState != null;

    private List<BookModel> Books { get; } = new();

    protected async override Task OnInitializedAsync()
    {
        LoadBooks();
    }

    private void LoadBooks()
    {
        if (!ShowLoadMore)
        {
            return;
        }

        var books = BooksService.GetBooks(nextState!.Value);
        nextState = GetNextState(nextState.Value);

        if (books.Length == 0)
        {
            LoadBooks();
            return;
        }

        Books.AddRange(books);
    }
    
    private async Task ScrollUp() => await JsRuntime.InvokeAsync<object>("scrollToTop");

    private static BookState? GetNextState(BookState current)
    {
        return current switch 
        {
            
            BookState.Active => BookState.Paused,
            BookState.Paused => BookState.New,
            BookState.New => BookState.Finished,
            BookState.Finished => null,
            _ => null
            };
    }

}