@use '../../variables' as v;

.container {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  z-index: 3;
  overflow-y: auto;
  background: var(--color-base-01);
  box-shadow: -4px 0px 10px 0px rgba(14, 18, 77, 0.07);
  display: flex;
  flex-direction: column;
  padding: 28px 32px;
  box-sizing: border-box;
}

.title {
  padding: 0;
  color: var(--color-text-02);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0 0 40px;
}

.close {
  position: absolute;
  top: 18px;
  right: 17px;
}

.card {
  box-shadow: 0 4px 10px 0 rgba(2, 3, 24, 0.07);
  border-radius: 20px;
  padding: 12px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}

.cardName {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-02);
}

.date {
  color: var(--color-text-03);
  font-size: 12px;
  line-height: 16px;
}

.page {
  color: var(--color-text-02);
  font-size: 36px;
  line-height: 40px;
  grid-column: 2;
  justify-self: right;
  grid-row: 1 / span 2;
}

.returnToPageToast {
  position: fixed;
  bottom: max(48px, 5%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

@media (max-width: v.$tablet-width) {
  .container {
    width: 300px;
  }
}

@media (max-width: v.$mobile-width) {
  .container {
    width: 100%;
    height: unset;
    position: absolute;
    left: 0;
    bottom: 0;
    right: unset;
    top: unset;
    animation: slideUp 0.3s ease;
    border-radius: 20px 20px 0 0;
    padding: 28px 24px;
    box-shadow: 0px -4px 10px 0px rgba(2, 3, 24, 0.07);
    align-items: stretch;
  }

  .button {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  
  .returnToPageToast {
    bottom: 270px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}