@use '../../variables' as v;

.card {
  box-shadow: 0 4px 10px 0 rgba(2, 3, 24, 0.07);
  border-radius: 20px;
  padding: 12px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
  width: 336px;
  box-sizing: border-box;
}

.button {
  margin-top: 20px;
}

.card:hover {
  background: var(--color-base-card-hover);
}

.card:active {
  background: var(--color-base-card-active);
}

.cardName {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-02);
}

.date {
  color: var(--color-text-03);
  font-size: 12px;
  line-height: 16px;
}

.page {
  color: var(--color-text-02);
  font-size: 36px;
  line-height: 40px;
  grid-column: 2;
  justify-self: right;
  grid-row: 1 / span 2;
}

@media (max-width: v.$tablet-width) {
  .card {
    width: 236px;
  }
}

@media (max-width: v.$mobile-width) {
  .card {
    width: calc(100vw - 48px);
    max-width: calc(100vw - 48px);
  }

  .button {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
}
