:root {
    --color-base-01: #FFFFFF;
    --color-base-02: #F2F3F8;
    --color-base-03: #E0E0E3;
    --color-base-04: #E0E0E0;
    --base-border-normal: #DEE2F0;
    --base-border-active: #5A81FA;
    --color-base-primary-normal: #5A81FA;
    --color-base-primary-active: #295DFF;
    --color-base-primary-hover: #84A2FF;

    --color-base-secondary: #0000000D;
    --color-base-secondary-hover: #0000001A;
    --color-base-secondary-active: #00000026;

    --color-text-01: #F8F9FD;
    --color-text-02: #060A2A;
    --color-text-03: #6A6E83;
    --color-text-04: #B5B9CD;
    --color-text-10: #5A81FA;
    
    --color-status-error: #CE2900;

    --font-family: 'Manrope', sans-serif;
    --font-family-monospace: 'PT Mono';

    font-family: var(--font-family);
    line-height: 1.5;
    font-weight: 400;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    height: 100%;
}

@font-face {
    font-family: 'Manrope';
    src: url("./assets/Manrope-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url("./assets/Manrope-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url("./assets/Manrope-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PT Mono';
    src: url("./assets/PTMono-Regular.ttf") format('ttf');
    font-weight: 400;
    font-style: normal;
}