@use '../../variables' as v;

.viewerContainer {
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: var(--color-base-03);
}

.loading {
  visibility: hidden;
}

:global(#pdf-viewer) {
  width: 100%;
  height: 100%;
}

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

:global(#storybook-root) {
  height: 100%;
}

@media (min-width: v.$desktop-width) {
  .viewerContainer {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}
