@use '../../variables' as v;

.header {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  align-items: center;
  border-radius: 20px;
  z-index: 2;
  margin: 0 40px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: start;
}

.right {
  display: flex;
  align-items: center;
  justify-content: end;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--color-text-02);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.totalPages {
  color: var(--color-text-03);
  font-family: var(--font-family-monospace);
  font-size: 18px;
  line-height: 20px;
  margin-left: 2px;
}