@use '../../variables' as v;

.header {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  align-items: center;
  border-radius: 20px;
  z-index: 2;
  background: var(--color-base-01);
  box-shadow: 0 4px 10px 0 rgba(2, 3, 24, 0.07);
  width: auto;
  margin: 12px 12px 0;
  padding: 12px 20px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: start;
}

.right {
  display: flex;
  align-items: center;
  justify-content: end;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--color-text-02);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.totalPages {
  color: var(--color-text-03);
  font-family: var(--font-family-monospace);
  font-size: 18px;
  line-height: 20px;
  margin-left: 2px;
}

@media (max-width: v.$tablet-width) {
  .header {
    margin: 0;
    border-radius: 0;
    padding: 12px;
  }
}

@media (max-width: v.$mobile-width) {
  .title {
    display: none;
  }
}
