:root {
    --color-background: #B2D3BE;
    --color-background-o5: rgba(178, 211, 190, 0.5);
    --color-background-o25: rgba(178, 211, 190, 0.25);
    
    --color-primary: #5E6073;
    --color-primary-o2: rgba(94, 96, 115, 0.2);
    --color-primary-o3: rgba(94, 96, 115, 0.3);
    
    --color-secondary: #FDFAF6;
    --color-tertiary: #89A3B2;
}

@font-face {
    font-family: "Cormorant";
    src: url("../../fonts/Cormorant-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Cormorant";
    src: url("../../fonts/Cormorant-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Cormorant";
    src: url("../../fonts/Cormorant-Regular.ttf");
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    color: var(--color-primary);
    font-family: "Cormorant", sans-serif;
}

#app {
    height: 100%;
}

.container {
    height: calc(100vh - 3em);
    overflow: hidden;
}

@import "top-bar";