@using BymseBooks.Core.Models
@using BymseBooks.Core
@inject BooksService BooksService
@inject NavigationManager Navigation
<button type="button" class="control-panel__delete" @onclick="ToggleModal"></button>

@if (ShowModal)
{
    <Modal OnClose="ToggleModal">
        <h2>Do you want to delete book named "@Book.Book.Title" by @Book.Book.Author?</h2>
        <div class="buttons-line">
            <button type="button" class="button button_red" @onclick="DeleteBook">Delete</button>
            <button type="button" class="button">Cancel</button>
        </div>
    </Modal>
}

@code {

    [Parameter]
    public BookExModel Book { get; set; }

    private bool ShowModal { get; set; }
    
    private void ToggleModal()
    {
        ShowModal = !ShowModal;
    }

    private void DeleteBook()
    {
        BooksService.DeleteBook(Book);
        ShowModal = false;
        Navigation.NavigateTo("/");
    }
}