.book-form__tags {
  display: flex;
  font-size: 1.4em;
  border-bottom: 1px solid var(--color-primary-o5);
  padding: 2px 8px;
  flex-wrap: wrap;

  & .book-form__tag {
    display: flex;
    flex-direction: row-reverse;
  }

  & .book-form__tag-prefix {

  }

  & .book-form__tag-input {
    border: none;
    font-size: 1em;
    background: transparent;

    padding: 0 2px 0 0;
    width: 0;

    &:focus, &:active {
      outline: none;
    }

    &::placeholder {
      color: var(--color-primary-o2);
    }

    &:placeholder-shown + .book-form__tag-prefix {
      color: var(--color-primary-o2);
    }
  }
}

#tag-width-measurer {
  appearance: none;
  visibility: hidden;
  position: absolute;
}