$color-background-raw: 178, 211, 190; //#B2D3BE
$color-primary-raw: 94, 96, 115; //#5E6073
$color-secondary-raw: 253, 250, 246; //#FDFAF6
$color-tertiary-raw: 137, 163, 178; //#89A3B2
$color-error: rgb(144, 0, 33);