@import "colors";

:root {
    --color-background: rgb(#{$color-background-raw});
    --color-background-o5: rgba(#{$color-background-raw}, 0.5);
    --color-background-o25: rgba(#{$color-background-raw}, 0.25);
    --color-background-o15: rgba(#{$color-background-raw}, 0.15);
    
    --color-primary: rgb(#{$color-primary-raw});
    --color-primary-o2: rgba(#{$color-primary-raw}, 0.2);
    --color-primary-o3: rgba(#{$color-primary-raw}, 0.3);
    --color-primary-o5: rgba(#{$color-primary-raw}, 0.5);
    --color-primary-o6: rgba(#{$color-primary-raw}, 0.6);
    
    --color-secondary: rgb(#{$color-secondary-raw});
    --color-secondary-o5: rgba(#{$color-secondary-raw}, 0.5);
    --color-secondary-o9: rgba(#{$color-secondary-raw}, 0.9);
    
    --color-tertiary: rgb(#{$color-tertiary-raw});
    --color-tertiary-o5: rgba(#{$color-tertiary-raw}, 0.5);
    
    --color-error: #{$color-error};
}

@font-face {
    font-family: "Cormorant";
    src: url("../../fonts/Cormorant-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Cormorant";
    src: url("../../fonts/Cormorant-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Cormorant";
    src: url("../../fonts/Cormorant-Regular.ttf");
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    color: var(--color-primary);
    font-family: "Cormorant", sans-serif;
}

input, button {
    color: var(--color-primary);
    font-family: "Cormorant", sans-serif;
}

#app {
    height: 100%;
    min-width: 710px;
    display: flex;
    flex-direction: column;
}

.container {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@import "icons";
@import "top-bar";
@import "top-menu";
@import "dropdown";
@import "modal";
@import "form";
@import "book-form";
@import "buttons";
@import "inputs";
@import "select";
