$color-background-raw: 178, 211, 190; //#B2D3BE
$color-primary-raw: 94, 96, 115; //#5E6073
$color-secondary-raw: 253, 250, 246; //#FDFAF6
$color-tertiary-raw: 137, 163, 178; //#89A3B2

:root {
    --color-background: rgb(#{$color-background-raw});
    --color-background-o5: rgba(#{$color-background-raw}, 0.5);
    --color-background-o25: rgba(#{$color-background-raw}, 0.25);
    --color-background-o15: rgba(#{$color-background-raw}, 0.15);
    
    --color-primary: rgb(#{$color-primary-raw});
    --color-primary-o2: rgba(#{$color-primary-raw}, 0.2);
    --color-primary-o3: rgba(#{$color-primary-raw}, 0.3);
    --color-primary-o5: rgba(#{$color-primary-raw}, 0.5);
    --color-primary-o6: rgba(#{$color-primary-raw}, 0.6);
    
    --color-secondary: rgb(#{$color-secondary-raw});
    --color-secondary-o5: rgba(#{$color-secondary-raw}, 0.5);
    --color-secondary-o9: rgba(#{$color-secondary-raw}, 0.9);
    
    --color-tertiary: rgb(#{$color-tertiary-raw});
    --color-tertiary-o5: rgba(#{$color-tertiary-raw}, 0.5);
    
    --color-error: #900021;
}

@font-face {
    font-family: "Cormorant";
    src: url("../../fonts/Cormorant-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Cormorant";
    src: url("../../fonts/Cormorant-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Cormorant";
    src: url("../../fonts/Cormorant-Regular.ttf");
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    color: var(--color-primary);
    font-family: "Cormorant", sans-serif;
}

input, button {
    color: var(--color-primary);
    font-family: "Cormorant", sans-serif;
}

#app {
    height: 100%;
}

.container {
    height: calc(100vh - 3em);
    overflow: hidden;
}

@import "icons";
@import "top-bar";
@import "top-menu";
@import "dropdown";
@import "modal";
@import "form";
@import "book-form";
@import "buttons";
@import "select";
