.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
  width: 100%;
}

.form__text-input {
  border: none;
  font-size: 1.4em;
  border-bottom: 1px solid var(--color-primary-o5);
  padding: 2px 8px;
  background: transparent;

  &:focus, &:active {
    outline: none;
  }
}

.form__file-wrapper {
  display: flex;
  gap: 0.6em;

  & .form__text-input {
    flex: 1;
    text-overflow: ellipsis;
  }
}