
@mixin icon-edit {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='27' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75016 23.9167H3.2085L21.5835 5.58334L20.0835 4.08334L1.75016 22.4583V23.9167ZM23.5418 4.91668L20.7502 2.12501L22.5002 0.37501C22.6946 0.180566 22.9238 0.0833435 23.1877 0.0833435C23.4515 0.0833435 23.6807 0.180566 23.8752 0.37501L25.2918 1.79168C25.4863 1.98612 25.5766 2.21529 25.5627 2.47918C25.5488 2.74307 25.4446 2.98612 25.2502 3.20834L23.5418 4.91668ZM22.8752 5.54168L3.5835 24.8333H0.833496V22.0833L20.1252 2.79168L22.8752 5.54168ZM20.8335 4.79168L20.0835 4.08334L21.5835 5.58334L20.8335 4.79168Z' fill='%235E6073'/%3E%3C/svg%3E%0A");
  background-size: 28px 27px;
  background-repeat: no-repeat;
  width: 28px;
  height: 27px;
}