.top-bar {
    background: var(--color-tertiary);
    display: flex;
    align-items: center;
    z-index: 1;

    & .top-bar__menu-button {
        background-color: var(--color-primary-o2);
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='16' viewBox='0 0 29 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 16V15.1287H29V16H0ZM0 8.43564V7.56436H29V8.43564H0ZM0 0.871288V0H29V0.871288H0Z' fill='%235E6073'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: 29px 16px;
        background-position: center;
        height: 3.6em;
        border: none;
        width: 3.6em;
        padding: 0;

        &:hover {
            cursor: pointer;
        }

        &:active {
            background-color: var(--color-primary-o3);
        }
    }

    & .top-bar__back-button {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0001 29.5833L0.416748 15L15.0001 0.416656L15.8334 1.24999L2.60425 14.4271H29.5834V15.5729H2.60425L15.8334 28.75L15.0001 29.5833Z' fill='%235E6073'/%3E%3C/svg%3E%0A");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        border: none;
        width: 3em;
        padding: 0;

        &:active {
            background-color: var(--color-primary-o3);
        }
    }
}