@import "../common/icons";

.top-menu {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  & .top-menu__item {
    font-size: 1.6em;
    border: none;
    background: var(--color-secondary-o9);
    color: var(--color-primary);
    text-decoration: none;
    padding: 8px 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover {
      background: var(--color-tertiary-o5);
      cursor: pointer;
    }

    &:focus, &:active {
      outline: none;
    }
  }
  
  & .top-menu__item-plus {
    @include icon-plus();
    margin-left: 16px;
  }
}