@mixin side-button {
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  
  &:hover {
    cursor: pointer;
  }
  
  &:active {
    background-color: var(--color-tertiary-o5);
  }
}

.side-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 8px;
  right: 30px;
  bottom: 18px;

  & .side-buttons__delete {
    @include side-button;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='26' viewBox='0 0 24 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.74967 25.8334C4.13856 25.8334 3.61079 25.6111 3.16634 25.1667C2.7219 24.7222 2.49967 24.1945 2.49967 23.5834V2.62502H0.833008V1.70835H6.83301V0.666687H17.1663V1.70835H23.1663V2.62502H21.4997V23.5834C21.4997 24.2222 21.2844 24.757 20.8538 25.1875C20.4233 25.6181 19.8886 25.8334 19.2497 25.8334H4.74967ZM20.583 2.62502H3.41634V23.5834C3.41634 23.9722 3.54829 24.2917 3.81217 24.5417C4.07606 24.7917 4.38856 24.9167 4.74967 24.9167H19.2497C19.583 24.9167 19.8886 24.7778 20.1663 24.5C20.4441 24.2222 20.583 23.9167 20.583 23.5834V2.62502ZM8.83301 21.5H9.74967V6.00002H8.83301V21.5ZM14.2497 21.5H15.1663V6.00002H14.2497V21.5ZM3.41634 2.62502V24.9167V23.5834V2.62502Z' fill='%23C84361'/%3E%3C/svg%3E%0A");
    background-size: 24px 26px;
    background-position-x: 8px;
  }

  & .side-buttons__edit {
    @include side-button;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75016 23.9167H3.2085L21.5835 5.58334L20.0835 4.08334L1.75016 22.4583V23.9167ZM23.5418 4.91668L20.7502 2.12501L22.5002 0.37501C22.6946 0.180566 22.9238 0.0833435 23.1877 0.0833435C23.4515 0.0833435 23.6807 0.180566 23.8752 0.37501L25.2918 1.79168C25.4863 1.98612 25.5766 2.21529 25.5627 2.47918C25.5488 2.74307 25.4446 2.98612 25.2502 3.20834L23.5418 4.91668ZM22.8752 5.54168L3.5835 24.8333H0.833496V22.0833L20.1252 2.79168L22.8752 5.54168ZM20.8335 4.79168L20.0835 4.08334L21.5835 5.58334L20.8335 4.79168Z' fill='%235E6073'/%3E%3C/svg%3E%0A");
    background-size: 26px 25px;
  }

  & .side-buttons__full-size {
    @include side-button;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0834961 27.9167V17H1.00016V26.375L26.3752 1.00001H17.0002V0.0833435H27.9168V11H27.0002V1.62501L1.62516 27H11.0002V27.9167H0.0834961Z' fill='%235E6073'/%3E%3C/svg%3E%0A");
    background-size: 27px 27px;
  }
}