@inject IJSRuntime JsRuntime
@using System.Linq.Expressions
@implements IAsyncDisposable

<div class="dropdown @Class" id="dropdown-@DropdownId">
    @if (ShowMenu)
    {
        @ChildContent
    }
</div>

@code {
    
    [Parameter]
    public bool ShowMenu { get; set; }

    [Parameter]
    public EventCallback<bool> ShowMenuChanged { get; set; } 

    [Parameter]
    public string DropdownId { get; set; }

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; init; }

    private string DropdownSelector => $"[data-dropdown-id=\"{DropdownId}\"]";

    private DotNetObjectReference<Dropdown> objectRef;

    protected override async Task OnInitializedAsync()
    {
        objectRef = DotNetObjectReference.Create(this);
        await JsRuntime.InvokeVoidAsync(
            "dropdown.handleOutsideClick",
            DropdownSelector,
            objectRef
        );
    }

    [JSInvokable]
    public async Task OnOutsideClick()
    {
        ShowMenu = false;
        await ShowMenuChanged.InvokeAsync(ShowMenu);
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        objectRef.Dispose();
        await JsRuntime.InvokeVoidAsync("dropdown.dispose", DropdownSelector);
    }

}