<div class="modal__buttons-wrapper">
    <div class="modal__buttons @(Small ? "modal__buttons_small" : "")">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; init; }
    
    [Parameter]
    public bool Small { get; set; }
}