@using BymseRead.Ui.Models
@implements IDisposable
@inject NavigationManager Navigation
<header class="top-bar">
    @if(ShowMenu)
    {
        <TopMenu/>
    }
    
    @if (ShowBack)
    {
        <a href="/" class="top-bar__back-button"></a>
    }
</header>

@code {

    private bool ShowMenu { get; set; }
    private bool ShowBack { get; set; }
    
    private IDisposable locationChangingHandler = null!;

    protected override void OnInitialized()
    {
        ShowMenu = Navigation.Uri == Navigation.BaseUri;
        ShowBack = Navigation.Uri != Navigation.BaseUri;
        locationChangingHandler = Navigation.RegisterLocationChangingHandler(HandleLocationChange);
    }
    
    private async ValueTask HandleLocationChange(LocationChangingContext context)
    {
        ShowMenu = context.TargetLocation == Navigation.BaseUri;
        ShowBack = context.TargetLocation != Navigation.BaseUri;
        StateHasChanged();
    }


    public void Dispose()
    {
        locationChangingHandler.Dispose();
    }

}