@inject IJSRuntime JsRuntime
@inject BooksService BooksService
@inject NavigationManager Navigation
@using BymseRead.Core
@using BymseRead.Core.Models

<DropdownButton DropdownId="top-menu" ButtonClass="top-bar__menu-button">
    <div class="top-menu">
        <button class="top-menu__item" @onclick="OnAddBook">
            Add new book
            <div class="top-menu__item-plus"></div>
        </button>
        @* <a class="top-menu__item" href="/Settings">Settings</a> *@
        @* <a class="top-menu__item" href="/Feedback">Feedback</a> *@
    </div>
</DropdownButton>

<BookForm FormTitle="New book" @bind-Show="ShowForm" OnSubmit="OnSubmit" Model="@BookModel"/>

@code {

    private bool ShowMenu { get; set; }

    private bool ShowForm { get; set; }

    private BookModel BookModel { get; } = new();

    private DotNetObjectReference<TopMenu> objectRef;

    private void ToggleMenu()
    {
        ShowMenu = !ShowMenu;
    }

    private void OnAddBook()
    {
        ShowMenu = false;
        ShowForm = true;
    }

    private void CloseForm()
    {
        ShowForm = false;
    }

    private async Task OnSubmit()
    {
        ShowForm = false;
        StateHasChanged();
        var result = BooksService.SaveBook(BookModel);
        Navigation.NavigateTo($"/Book/{result.Id}");
    }

}