@use '../../variables' as v;

.container {
  background: var(--color-base-02);
  height: 100%;
  padding: 0 40px 40px 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: v.$tablet-width) {
  .list {
    gap: 12px;
    padding: 0 24px 40px 24px;
  }
}