@use '../../variables' as v;

.toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  border-radius: 100px;
  font-size: 16px;
  line-height: 24px;
  z-index: 100;
  transition: opacity 0.3s ease;
  display: flex;
  gap: 16px;
  align-items: center;
  white-space: nowrap;

  @media (max-width: v.$tablet-width) {
    top: auto;
    bottom: 20px;
  }
}

.top {
  top: max(80px, 5%);
}

.relative {
  position: relative;
  left: unset;
  transform: unset;
}

.button {
  cursor: pointer;
}

.info {
  background: var(--color-base-01);
  color: var(--color-text-02);
  box-shadow: 0 4px 20px 0 rgba(2, 3, 24, 0.07);
}

.error {
  background: var(--color-status-error);
  color: var(--color-text-01);
}

.open {
  background: transparent;
  border-left: 1px solid var(--color-text-04);
  padding-left: 16px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.close {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  margin-left: -5px;
}