@using System.Linq.Expressions
@inject IJSRuntime JsRuntime

<div class="bookmark-form__page-input">
    Page:
    <PagesInput
        Page="@Page"
        PageChanged="PageChanged"
        TotalPages="@TotalPages"
        />
</div>

@code {
    [Parameter]
    public virtual int Page { get; set; }

    [Parameter]
    public EventCallback<int> PageChanged { get; set; }

    [Parameter]
    public int? TotalPages { get; set; }
}