@using BymseRead.Core.Models
@using BymseRead.Core
@inject BookmarksService BookmarksService

@if (Show)
{
    <section class="bookmarks">
        <h2 class="bookmarks__title">Bookmarks</h2>
        <div class="bookmarks__buttons">
            <button class="bookmarks__button bookmarks__button_add" @onclick="OnAdd">New bookmark</button>
            <button class="bookmarks__button bookmarks__button_last-page" @onclick="OnMarkAsLastPage">Mark as last page</button>
        </div>
        <BookmarksList OnEdit="OnEdit" OnClick="OnClick" Bookmarks="bookmarksList" Book="Book"/>
    </section>

    if (showBookmarkForm)
    {
        <BookmarkForm
            @bind-Show="showBookmarkForm"
            Bookmark="formBookmark"
            TotalPages="@Book.TotalPages"
            OnSubmit="OnFormSubmit"
            OnDelete="OnDelete"
            />
    }
}

@code {
    
    [Parameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public EventCallback<int> CurrentPageChanged { get; set; }
    
    [Parameter]
    public bool Show { get; set; }
    
    [Parameter]
    public BookModel Book { get; set; }
    
    private bool showBookmarkForm = false;
    private BookmarksListModel bookmarksList;
    private BookmarkModel? formBookmark;

    protected override void OnInitialized()
    {
        bookmarksList = BookmarksService.GetBookmarksList(Book);
    }

    protected override void OnParametersSet()
    {
        BookmarksService.SetLastViewedPage(Book.Id, CurrentPage);
    }

    private void OnMarkAsLastPage(MouseEventArgs obj)
    {
        BookmarksService.SetLastPage(Book.Id, CurrentPage);
        bookmarksList = BookmarksService.GetBookmarksList(Book);
        StateHasChanged();
    }

    private void OnAdd()
    {
        formBookmark = new BookmarkModel
        {
            Page = CurrentPage
        };
        showBookmarkForm = true;
        StateHasChanged();
    }

    private Task OnEdit(BookmarkModel bookmarkModel)
    {
        formBookmark = bookmarkModel;
        showBookmarkForm = true;
        StateHasChanged();
        
        return Task.CompletedTask;
    }

    private async Task OnClick(BookmarkModel bookmarkModel)
    {
        CurrentPage = bookmarkModel.Page;
        await CurrentPageChanged.InvokeAsync(CurrentPage);
    }

    private Task OnFormSubmit(BookmarkModel model)
    {
        BookmarksService.SaveBookmark(model, Book.Id);
        bookmarksList = BookmarksService.GetBookmarksList(Book);
        OnBookmarkFormClose();

        return Task.CompletedTask;
    }

    private Task OnDelete(BookmarkModel model)
    {
        BookmarksService.DeleteBookmark(model);
        bookmarksList = BookmarksService.GetBookmarksList(Book);
        OnBookmarkFormClose();
        
        return Task.CompletedTask;
    }

    private void OnBookmarkFormClose()
    {
        showBookmarkForm = false;
        formBookmark = null;
        StateHasChanged();
    }

}