@using BymseRead.DataLayer.Entity
@using BymseRead.DataLayer.Helpers
@using System.Linq.Expressions
@using System.Drawing

<div class="color-radio">
    <InputRadioGroup TValue="ColorCode" Value="ColorCode" ValueChanged="ColorCodeChanged" ValueExpression="ColorCodeExpression">
        @foreach (var val in Colors)
        {
            <label>
                <InputRadio style="@Style(val)" TValue="ColorCode" Value="val"/>
            </label>
        }
    </InputRadioGroup>
</div>


@code
{
    private static readonly ColorCode[] Colors = {
        ColorCode.White,
        ColorCode.Red,
        ColorCode.Yellow,
        ColorCode.Green,
    };
    
    [Parameter]
    public virtual ColorCode ColorCode { get; set; }

    [Parameter]
    public EventCallback<ColorCode> ColorCodeChanged { get; set; }

    [Parameter]
    public Expression<Func<ColorCode>> ColorCodeExpression { get; set; }

    private string Style(ColorCode code) => $"--color: #{code.GetAttachedString()}";
}