.button.primary {
  --bg-color-normal: var(--color-base-primary-normal);
  --bg-color-hover: var(--color-base-primary-hover);
  --bg-color-active: var(--color-base-primary-active);
  --color-title: var(--color-text-01);
}

.button.flat {
  --bg-color-normal: transparent;
  --bg-color-hover: var(--color-base-secondary-hover);
  --bg-color-active: var(--color-base-secondary-active);
  --color-title: var(--color-text-10);
}

.button.secondary {
  --bg-color-normal: var(--color-base-secondary);
  --bg-color-hover: var(--color-base-secondary-hover);
  --bg-color-active: var(--color-base-secondary-active);
  --color-title: var(--color-text-10);
}

.button.outline {
  outline: 1px solid var(--color-base-04);
  --bg-color-normal: transparent;
  --bg-color-hover: var(--color-base-secondary-hover);
  --bg-color-active: var(--color-base-secondary-active);
  --color-title: var(--color-text-10);
}

.button.text {
  --bg-color-normal: transparent;
  --bg-color-hover: transparent;
  --bg-color-active: transparent;
  --color-title: var(--color-text-02);
  --color-title-hover: var(--color-title);
  color: var(--color-text-03);
}

.button {
  background: var(--bg-color-normal);
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 10px 10px;
  white-space: nowrap;
  text-decoration: none;
}

.button:hover {
  background: var(--bg-color-hover);
  color: var(--color-title-hover, var(--color-title))
}

.button:active {
  background: var(--bg-color-active);
}

.disabled,
.button:disabled {
  opacity: 0.56;
  background: var(--bg-color-normal);
  cursor: default;
  pointer-events: none;
}

.title {
  font-weight: 500;
  font-family: var(--font-family);
  color: var(--color-title);
  padding: 0 8px;
  font-size: 16px;
  line-height: 24px;
}
