.button.primary {
    --color-normal: var(--color-base-primary-normal);
    --color-hover: var(--color-base-primary-hover);
    --color-active: var(--color-base-primary-active);
    --color-text: var(--color-text-01);
}

.button.flat {
    --color-normal: transparent;
    --color-hover: var(--color-base-secondary-hover);
    --color-active: var(--color-base-secondary-active);
    --color-text: var(--color-text-10);
}

.button.secondary {
    --color-normal: var(--color-base-secondary);
    --color-hover: var(--color-base-secondary-hover);
    --color-active: var(--color-base-secondary-active);
    --color-text: var(--color-text-10);
}

.button {
    background: var(--color-normal);
    border-radius: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
}

.button:hover {
    background: var(--color-hover)
}

.button:active {
    background: var(--color-active);
}

.button:disabled {
    opacity: 0.56;
    background: var(--color-normal);
    cursor: default;
}

.text {
    font-weight: 500;
    font-family: var(--font-family);
    color: var(--color-text);
    padding: 0 8px;
    font-size: 16px;
    line-height: 24px;
}
