@import "../common/icons";

@mixin flex-section {
  display: flex;
  align-items: center;
  height: 100%;
  width: 0;
}

#pages-input-measurer {
  appearance: none;
  visibility: hidden;
  position: absolute;
}

.control-panel {
  background: var(--color-secondary-o5);
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;

  & .control-panel__left {
    @include flex-section;
    gap: 0.5em;
    flex: 3;
  }

  & .control-panel__center {
    @include flex-section;
    justify-content: center;
    flex: 1;
  }

  & .control-panel__right {
    @include flex-section;
    justify-content: flex-end;
    flex: 3;
  }

  & .control-panel__bookmarks-list-btn,
  & .control-panel__edit,
  & .control-panel__delete {
    width: 3.4em;
    height: 100%;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: var(--color-tertiary-o5);
    }
  }

  & .control-panel__bookmarks-list-btn {
    width: 3em;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.8335 22.4167H25.1668C25.5002 22.4167 25.8057 22.2778 26.0835 22C26.3613 21.7222 26.5002 21.4167 26.5002 21.0833V2.75C26.5002 2.41667 26.3613 2.11111 26.0835 1.83333C25.8057 1.55556 25.5002 1.41667 25.1668 1.41667H23.4168V11.125L20.4168 9.33333L17.4168 11.125V1.41667H6.8335C6.50016 1.41667 6.19461 1.55556 5.91683 1.83333C5.63905 2.11111 5.50016 2.41667 5.50016 2.75V21.0833C5.50016 21.4167 5.63905 21.7222 5.91683 22C6.19461 22.2778 6.50016 22.4167 6.8335 22.4167ZM6.8335 23.3333C6.19461 23.3333 5.65989 23.1181 5.22933 22.6875C4.79877 22.2569 4.5835 21.7222 4.5835 21.0833V2.75C4.5835 2.11111 4.79877 1.57639 5.22933 1.14583C5.65989 0.715278 6.19461 0.5 6.8335 0.5H25.1668C25.8057 0.5 26.3404 0.715278 26.771 1.14583C27.2016 1.57639 27.4168 2.11111 27.4168 2.75V21.0833C27.4168 21.7222 27.2016 22.2569 26.771 22.6875C26.3404 23.1181 25.8057 23.3333 25.1668 23.3333H6.8335ZM2.8335 27.3333C2.19461 27.3333 1.65989 27.1181 1.22933 26.6875C0.798774 26.2569 0.583496 25.7222 0.583496 25.0833V5.83333H1.50016V25.0833C1.50016 25.4167 1.63905 25.7222 1.91683 26C2.19461 26.2778 2.50016 26.4167 2.8335 26.4167H22.0835V27.3333H2.8335ZM17.4168 1.41667H23.4168H17.4168ZM6.8335 1.41667H5.50016H26.5002H25.1668H6.8335Z' fill='%235E6073'/%3E%3C/svg%3E%0A");
  }

  & .control-panel__title {
    color: var(--color-tertiary);
    padding: 0 0.2em;
    border-bottom: 0.5px solid var(--color-tertiary);
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & .control-panel__pages {
    padding: 0 0.2em;
    border-bottom: 1px solid var(--color-primary);
    display: flex;
    gap: 0.2em;
  }

  & .control-panel__pages-input {
    border: none;
    background: transparent;
    font-size: inherit;

    &:focus, &:active {
      outline: none;
    }
  }

  & .control-panel__tags {
    max-width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-tertiary);
    margin-right: 0.5em;
  }

  & .control-panel__edit {
    @include icon-edit;
    height: 100%;
  }

  & .control-panel__delete {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='30' viewBox='0 0 24 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.74967 25.8334C4.13856 25.8334 3.61079 25.6111 3.16634 25.1667C2.7219 24.7222 2.49967 24.1945 2.49967 23.5834V2.62502H0.833008V1.70835H6.83301V0.666687H17.1663V1.70835H23.1663V2.62502H21.4997V23.5834C21.4997 24.2222 21.2844 24.757 20.8538 25.1875C20.4233 25.6181 19.8886 25.8334 19.2497 25.8334H4.74967ZM20.583 2.62502H3.41634V23.5834C3.41634 23.9722 3.54829 24.2917 3.81217 24.5417C4.07606 24.7917 4.38856 24.9167 4.74967 24.9167H19.2497C19.583 24.9167 19.8886 24.7778 20.1663 24.5C20.4441 24.2222 20.583 23.9167 20.583 23.5834V2.62502ZM8.83301 21.5H9.74967V6.00002H8.83301V21.5ZM14.2497 21.5H15.1663V6.00002H14.2497V21.5ZM3.41634 2.62502V24.9167V23.5834V2.62502Z' fill='%23C84361'/%3E%3C/svg%3E%0A");
    background-size: 26px 28px;
    background-position-x: 10px;
  }
}

.control-panel__delete-wrapper {
  font-size: 16px;
}

.control-panel__delete-question {
  font-size: 1.5em;
}