@import "../common/icons";

@mixin flex-section {
  display: flex;
  align-items: center;
  height: 100%;
  width: 0;
}

#pages-input-measurer {
  appearance: none;
  visibility: hidden;
  position: absolute;
}

.control-panel {
  background: var(--color-secondary-o5);
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  
  & .button-icon_edit,
  & .button-icon_delete,
  & .button-icon_bookmarks-collection {
    height: 100%;
    padding: 0 8px;
  }

  .control-panel__left {
    @include flex-section;
    flex: 3;
  }

  .control-panel__center {
    @include flex-section;
    justify-content: center;
    flex: 1;
  }

  .control-panel__right {
    @include flex-section;
    justify-content: flex-end;
    flex: 3;
  }

  & .control-panel__title {
    color: var(--color-tertiary);
    padding: 0 0.2em;
    border-bottom: 0.5px solid var(--color-tertiary);
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & .control-panel__pages {
    padding: 0 0.2em;
    border-bottom: 1px solid var(--color-primary);
    display: flex;
    gap: 0.2em;
  }

  & .control-panel__pages-input {
    border: none;
    background: transparent;
    font-size: inherit;

    &:focus, &:active {
      outline: none;
    }
  }

  .control-panel__tags {
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-tertiary);
    margin-right: 5px;
  }

  & .control-panel__delete {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='30' viewBox='0 0 24 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.74967 25.8334C4.13856 25.8334 3.61079 25.6111 3.16634 25.1667C2.7219 24.7222 2.49967 24.1945 2.49967 23.5834V2.62502H0.833008V1.70835H6.83301V0.666687H17.1663V1.70835H23.1663V2.62502H21.4997V23.5834C21.4997 24.2222 21.2844 24.757 20.8538 25.1875C20.4233 25.6181 19.8886 25.8334 19.2497 25.8334H4.74967ZM20.583 2.62502H3.41634V23.5834C3.41634 23.9722 3.54829 24.2917 3.81217 24.5417C4.07606 24.7917 4.38856 24.9167 4.74967 24.9167H19.2497C19.583 24.9167 19.8886 24.7778 20.1663 24.5C20.4441 24.2222 20.583 23.9167 20.583 23.5834V2.62502ZM8.83301 21.5H9.74967V6.00002H8.83301V21.5ZM14.2497 21.5H15.1663V6.00002H14.2497V21.5ZM3.41634 2.62502V24.9167V23.5834V2.62502Z' fill='%23C84361'/%3E%3C/svg%3E%0A");
    background-size: 26px 28px;
    background-position-x: 10px;
  }
}

.control-panel__delete-wrapper {
  font-size: 16px;
}

.control-panel__delete-question {
  text-align: center;
  font-size: 1.5em;
}