@use '../../variables' as v;

.cardWrapper {
  background: transparent;
  display: inline-flex;
  border-radius: 12px;
}

.card {
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 12px;
  border-radius: 12px;
  cursor: pointer;
  box-sizing: border-box;

  --fill-percent: 0%;
  background: linear-gradient(
    90deg,
    rgba(209, 217, 243, 0.4) var(--fill-percent),
    rgba(247, 248, 251, 1) var(--fill-percent)
  );
  text-decoration: none;
  min-height: 171px;
  height: 100%;
  mix-blend-mode: multiply;
}

.cardWrapper:hover {
  background: var(--color-base-card-hover-transparent);
}

.cardWrapper:active {
  background: var(--color-base-card-active);
}

.card .cover {
  min-width: 130px;
  max-height: 158px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-text-02);
  max-height: 60px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  overflow-wrap: break-word;
}

.defaultCover {
  background: #afc3ff;
  width: 100px;
  height: 158px;
  border-radius: 2px;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}

.coverLetter {
  font-family: var(--font-family);
  font-size: 240px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 700;
  line-height: 184px;
  position: absolute;
  bottom: 0;
  margin-bottom: -3px;
}

@media (max-width: v.$tablet-width) {
  .card .cover {
    max-width: 47px;
    max-height: 75px;
  }

  .defaultCover {
    width: 47px;
    height: 75px;
  }

  .coverLetter {
    font-size: 116px;
    line-height: 88px;
  }
}

@media (max-width: v.$tablet-width) {
  .card {
    min-height: 108px;
  }

  .card .cover {
    min-width: unset;
  }
}

@media (min-width: v.$tablet-width) {
  .card {
    max-width: 400px;
  }
}
