@mixin side-button {
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  
  &:hover {
    cursor: pointer;
  }
  
  &:active {
    background-color: var(--color-tertiary-o5);
  }
}

.side-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 8px;
  right: 30px;
  bottom: 18px;

  & .side-buttons__full-size {
    @include side-button;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0834961 27.9167V17H1.00016V26.375L26.3752 1.00001H17.0002V0.0833435H27.9168V11H27.0002V1.62501L1.62516 27H11.0002V27.9167H0.0834961Z' fill='%235E6073'/%3E%3C/svg%3E%0A");
    background-size: 27px 27px;
  }

  & .side-buttons__full-size_full {
    @include side-button;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.725 33.7L0 32.975L15 17.975H3.725V16.875H16.825V29.975H15.725V18.7L0.725 33.7ZM16.825 16.875V3.775H17.925V15L32.925 0L33.7 0.775L18.7 15.775H29.925V16.875H16.825Z' fill='%235E6073'/%3E%3C/svg%3E%0A");
  }
}