.book-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  background: var(--color-secondary);
  text-align: center;
  padding: 0.8em 0.6em 0.4em;
  border: 5px solid transparent;
  text-decoration: none;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(61, 85, 69, 0.25);
  
  &:hover {
    box-shadow: 0 4px 12px 0 rgba(61, 85, 69, 0.25);
  }
  
  &:active {
    box-shadow: none;
  }

  &, &:visited {
    color: var(--color-primary);
  }


  & .book-card__title {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    height: 0;
    flex: 1 0 30%;
  }

  & .book-card__author {
    flex: 2;
  }

  & .book-card__paused {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.2em;

    & span {
      margin-bottom: 2px;
      font-weight: bold;
    }

    &:before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20'%3E%3Cpath d='M7.5 13H9V7H7.5Zm3.5 0h1.5V7H11Zm-1 5q-1.646 0-3.104-.625-1.458-.625-2.552-1.719t-1.719-2.552Q2 11.646 2 10q0-1.667.625-3.115.625-1.447 1.719-2.541Q5.438 3.25 6.896 2.625T10 2q1.667 0 3.115.625 1.447.625 2.541 1.719 1.094 1.094 1.719 2.541Q18 8.333 18 10q0 1.646-.625 3.104-.625 1.458-1.719 2.552t-2.541 1.719Q11.667 18 10 18Zm0-1.5q2.708 0 4.604-1.896T16.5 10q0-2.708-1.896-4.604T10 3.5q-2.708 0-4.604 1.896T3.5 10q0 2.708 1.896 4.604T10 16.5Zm0-6.5Z'%0Afill='%235E6073'/%3E%3C/svg%3E");
      height: 20px;
      width: 20px;
    }
  }

  & .book-card__tags {
    flex: 1;

    & span {
      font-weight: bold;
    }
  }

  & .book-card__progress {
    display: flex;
    width: 100%;
    align-items: center;
    flex: 1;
    max-height: 1em;
  }

  .book-card__progress_title {
    margin-right: 0.4em;
  }

  .book-card__progress-bar {
    width: 100%;
    border: .5px solid var(--color-primary);
    display: flex;
    height: 0.3em;
  }

  .book-card__progress-bar_done {
    background: var(--color-primary);
  }

  .book-card__progress-bar_todo {
    flex: 1 1 100%;
    height: 0.3em;
  }
}