.books-grid__container {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding: 4% 3% 0;
    background: var(--color-background-o25);
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.books-grid {
    display: grid;
    row-gap: 3em;
    column-gap: 3em;
    grid-template-columns: repeat(auto-fit, min(13em, 100%));
    grid-auto-rows: 16em;
    justify-content: center;
}

.load-more {
    height: 92px;
    padding: 0;
    margin-bottom: 2em;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    row-gap: 0.6em;
    
    & .load-more__text {
        font-size: 1.2em;
        font-weight: bold;
        display: flex;
        align-items: center;
    }
}

.no-books {
    font-size: 1.5em;
    align-self: center;
    display: flex;
    align-items: center;
}

@import "book-card";