.fileWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fileName {
  color: var(--color-text-10);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}
