.bookmarks-list {
  padding: 0 5px;
  overflow-x: auto;
  scrollbar-color: var(--color-primary) var(--color-tertiary-o5);
  scrollbar-width: thin;
  margin: 0;
}

.bookmark-item__wrapper {
  background: var(--color-secondary);
}

.bookmark-item {
  display: flex;
  padding: 2px 1px 11px 1px;
  gap: 2px;
}

.bookmark-item__icon {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 31.75V9.33334C10.5 8.72223 10.7153 8.19445 11.1458 7.75001C11.5764 7.30557 12.1111 7.08334 12.75 7.08334H27.25C27.8889 7.08334 28.4236 7.30557 28.8542 7.75001C29.2847 8.19445 29.5 8.72223 29.5 9.33334V31.75L20 27.6667L10.5 31.75ZM11.4167 30.2917L20 26.625L28.5833 30.2917V9.33334C28.5833 9.00001 28.4444 8.69446 28.1667 8.41668C27.8889 8.1389 27.5833 8.00001 27.25 8.00001H12.75C12.4167 8.00001 12.1111 8.1389 11.8333 8.41668C11.5556 8.69446 11.4167 9.00001 11.4167 9.33334V30.2917ZM11.4167 8.00001H28.5833H20H11.4167Z' fill='%235E6073'/%3E%3C/svg%3E%0A");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: top;
  display: block;
}

.bookmark-item__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bookmark-item__title {
  border-bottom: 1px solid var(--color-primary);
  font-size: 1.5em;
  padding: 4px 8px;
}

.bookmark-item__bottom {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.bookmark-item__pages {
  color: var(--color-tertiary);
  font-size: 1em;
}

.bookmark-item__date {
  color: var(--color-tertiary);
  font-size: 1em;
}

.bookmark-item__close-btn {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5832 30.0833L9.9165 29.4167L19.3332 20L9.9165 10.5833L10.5832 9.91666L19.9998 19.3333L29.4165 9.91666L30.0832 10.5833L20.6665 20L30.0832 29.4167L29.4165 30.0833L19.9998 20.6667L10.5832 30.0833Z' fill='%235E6073'/%3E%3C/svg%3E%0A");
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.bookmark-item_last-page {
  background: var(--color-background-o15);
  
  & .bookmark-item__title {
    font-weight: bold;
  }
}