@import "../../common/icons";
.bookmarks-list {
  padding: 0 5px;
  overflow-x: auto;
  scrollbar-color: var(--color-primary) var(--color-tertiary-o5);
  scrollbar-width: thin;
  margin: 0;
}

.bookmark-item__wrapper {
  background: var(--color-secondary);
}

.bookmark-item {
  display: flex;
  padding: 2px 10px 11px 21px;
  gap: 2px;
}

.bookmark-item__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  cursor: pointer;
}

.bookmark-item__title {
  border-bottom: 1px solid var(--color-primary);
  font-size: 1.5em;
  padding: 4px 0;
}

.bookmark-item__bottom {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.bookmark-item__pages {
  color: var(--color-tertiary);
  font-size: 1em;
}

.bookmark-item__date {
  color: var(--color-tertiary);
  font-size: 1em;
}

.bookmark-item__edit {
  @include icon-edit;
  background-color: transparent;
  margin: 9px 0 0 10px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.bookmark-item_last-page {
  background: var(--color-background-o15);
  
  & .bookmark-item__title {
    font-weight: bold;
  }
}