
.bookmarks {
  padding: 0;
  margin: 0;
  background-color: var(--color-tertiary-o5);
  font-size: 16px;
  flex-shrink: 2;
}

.bookmarks__title {
  border-bottom: 0.5px solid var(--color-primary);
  padding: 13px 0 14px 5px;
  margin: 0;
}

.bookmarks__buttons {
  padding: 6px 5px 10px 5px;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.bookmarks__button {
  background-color: var(--color-secondary);
  cursor: pointer;
  color: var(--color-primary);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 20px;
  border-radius: 2px;
  padding: 14px 20px 14px;
  display: flex;
  align-items: center;
  white-space: nowrap;

  &:active {
    background-color: var(--color-secondary-o9);
  }
}

.bookmarks__button_add:before {
  width: 30px;
  height: 30px;
  content: "";
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6719 22.9375V15.3437H7.07812V14.6562H14.6719V7.0625H15.3594V14.6562H22.9531V15.3437H15.3594V22.9375H14.6719Z' fill='%235E6073'/%3E%3C/svg%3E%0A");
}

.bookmarks__button_last-page:before {
  width: 25px;
  height: 25px;
  content: "";
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.92185 21.5625C6.5391 21.5625 6.2099 21.4247 5.93424 21.149C5.65858 20.8734 5.52075 20.5443 5.52075 20.162V4.83802C5.52075 4.45566 5.65858 4.12665 5.93424 3.85099C6.2099 3.57533 6.5391 3.4375 6.92185 3.4375H18.078C18.4607 3.4375 18.7899 3.57533 19.0656 3.85099C19.3413 4.12665 19.4791 4.45566 19.4791 4.83802V20.162C19.4791 20.5443 19.3413 20.8734 19.0656 21.149C18.7899 21.4247 18.4607 21.5625 18.078 21.5625H6.92185ZM6.927 20.9896H18.0728C18.2812 20.9896 18.4721 20.9028 18.6458 20.7292C18.8194 20.5556 18.9062 20.3646 18.9062 20.1562V4.84375C18.9062 4.63542 18.8194 4.44444 18.6458 4.27083C18.4721 4.09722 18.2812 4.01042 18.0728 4.01042H16.9791V10L15.078 8.88021L13.177 10V4.01042H6.927C6.71867 4.01042 6.5277 4.09722 6.35409 4.27083C6.18047 4.44444 6.09367 4.63542 6.09367 4.84375V20.1562C6.09367 20.3646 6.18047 20.5556 6.35409 20.7292C6.5277 20.9028 6.71867 20.9896 6.927 20.9896Z' fill='%235E6073'/%3E%3C/svg%3E%0A");
}

#bookmark-page-input-measurer {
  appearance: none;
  visibility: hidden;
  position: absolute;
}

.bookmark-form {
  
}

.bookmark-form__title-input {
  flex: 2;
  font-size: 1.6em;
}


.bookmark-form__page-input {
  font-size: 1.4em;
  & input {
    border: none;
    background: transparent;
    font-size: inherit;
    flex: 2;
    border-bottom: 0.5px solid var(--color-primary);

    &:focus, &:active {
      outline: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

@import "bookmarks-list.scss";
@import "color-radio";