
.color-radio {
  
  & input[type=radio] {
    padding: 24px;
    appearance: none;
    border-radius: 4px;
    background-color: var(--color);
    border: 0.5px solid var(--color-primary);
    cursor: pointer;
  }

  & input[type=radio]:checked {
    outline: 1.5px solid var(--color-primary);
  }
}

.color-radio input {

}