@using BymseBooks.Core
@using BymseBooks.DataLayer.Helpers
@inject TagsService TagsService
@inject IJSRuntime JsRuntime

<div class="book-form__tags">
    <div id="tag-width-measurer"></div>
    @foreach (var tag in TagInputs)
    {
        <input 
            class="book-form__tag-input"
            data-tag-input
            @bind="@tag.Value"
            placeholder="@tag.Placeholder"
            />
    }
    <input type="text"
           class="book-form__tag-input"
           data-tag-input
           style="min-width: 80px;"
           @bind-value="NewTag"
           @bind-value:event="oninput"
           @onkeydown="OnNewTagKeyDown"
           placeholder="#newtag"
    />
</div>

@code {

    [Parameter]
    public IList<string> Tags { get; set; }

    private IList<TagWrapper> TagInputs { get; set; }
    private string NewTag { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        TagInputs = Tags.Select(e => new TagWrapper(e, e)).ToList();
        await InitAutoResize();
    }

    class TagWrapper
    {
        public TagWrapper(string value, string placeholder)
        {
            Placeholder = placeholder;
            Value = value;
        }

        public string Value { get; set; }
        public string Placeholder { get; set; }
    }

    private async Task OnNewTagKeyDown(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            var tagToAdd = NewTag.StartsWith('#') ? NewTag : "#" + NewTag;
            TagInputs.Add(new TagWrapper(tagToAdd, ""));
            NewTag = "";
            StateHasChanged();
            await InitAutoResize();
        }
    }
    
    private async Task InitAutoResize()
    {
        await Task.Delay(1);
        await JsRuntime.InvokeVoidAsync("initializeTagsInputs");
    }

}