@using BymseBooks.Ui.Models
<header class="top-bar">
    @foreach (var topBarItem in Items)
    {
        switch (topBarItem.Type)
        {
            case ItemType.Link:
                var item = (LinkTopBarItem) topBarItem;
                <a href="@item.Url" class="@item.Css">@item.Text</a>
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }
</header>

@code {

    [Parameter]
    public IEnumerable<ITopBarItem> Items { get; set; }

}