@using BymseRead.Core.Models
@using BymseRead.Core
@inject BooksService BooksService
@inject NavigationManager Navigation
<button type="button" class="button-icon button-icon_delete" @onclick="ToggleModal"></button>

<div class="control-panel__delete-wrapper">
    <Modal @bind-Show="ShowModal" ModalTitle="Confirm deletion">
        <div class="control-panel__delete-question">Do you want to delete "@Book.Title" by @Book.Author?</div>
        <ModalButtons Small="true">
            <button type="button" class="button button_red" @onclick="DeleteBook">Delete</button>
            <button type="button" class="button" @onclick="() => ShowModal = false">Cancel</button>
        </ModalButtons>
    </Modal>
</div>

@code {

    [Parameter]
    public BookModel Book { get; set; }

    private bool ShowModal { get; set; }

    private void ToggleModal()
    {
        ShowModal = !ShowModal;
    }

    private void DeleteBook()
    {
        BooksService.DeleteBook(Book);
        ShowModal = false;
        Navigation.NavigateTo("/");
    }

}