# http://editorconfig.org
root = true

[*.{yml,yaml,cql,sql,sh,cmd}]
end_of_line = lf

[Dockerfile]
end_of_line = lf

[*.csproj]
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = false
ij_xml_space_inside_empty_tag = true

[*.cs]
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = false
max_line_length = 160

# https://microsoft.github.io/vs-threading/analyzers/index.html
dotnet_diagnostic.VSTHRD002.severity = suggestion # выплевывает некорректный код
dotnet_diagnostic.VSTHRD110.severity = suggestion # ругается, что нет кодфикса для правила

# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/dotnet-formatting-options
dotnet_sort_system_directives_first = true

# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/csharp-formatting-options
csharp_preserve_single_line_statements = false

# https://learn.microsoft.com/en-us/dotnet/csharp/misc/cs0168
dotnet_diagnostic.CS0168.severity = error

# https://learn.microsoft.com/ru-ru/dotnet/csharp/language-reference/compiler-messages/cs1591
dotnet_diagnostic.CS1591.severity = silent

# https://learn.microsoft.com/en-us/dotnet/csharp/misc/cs1717
dotnet_diagnostic.CS1717.severity = error

# async method lacks await
dotnet_diagnostic.CS1998.severity = error

# https://learn.microsoft.com/en-us/dotnet/csharp/misc/cs3021
dotnet_diagnostic.CS3021.severity = suggestion

# https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs4014
dotnet_diagnostic.CS4014.severity = error

# https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/pattern-matching-warnings
dotnet_diagnostic.CS8509.severity = error

# https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/nullable-warnings
dotnet_diagnostic.CS8597.severity = error
dotnet_diagnostic.CS8598.severity = error
dotnet_diagnostic.CS8600.severity = warning
dotnet_diagnostic.CS8601.severity = warning
dotnet_diagnostic.CS8602.severity = warning
dotnet_diagnostic.CS8603.severity = error
dotnet_diagnostic.CS8604.severity = warning
dotnet_diagnostic.CS8605.severity = error
dotnet_diagnostic.CS8607.severity = error
dotnet_diagnostic.CS8608.severity = error
dotnet_diagnostic.CS8609.severity = error
dotnet_diagnostic.CS8610.severity = error
dotnet_diagnostic.CS8611.severity = error
dotnet_diagnostic.CS8612.severity = error
dotnet_diagnostic.CS8613.severity = error
dotnet_diagnostic.CS8614.severity = error
dotnet_diagnostic.CS8615.severity = error
dotnet_diagnostic.CS8616.severity = error
dotnet_diagnostic.CS8617.severity = error
dotnet_diagnostic.CS8618.severity = warning
dotnet_diagnostic.CS8619.severity = error
dotnet_diagnostic.CS8620.severity = error
dotnet_diagnostic.CS8621.severity = error
dotnet_diagnostic.CS8622.severity = error
dotnet_diagnostic.CS8623.severity = error
dotnet_diagnostic.CS8624.severity = error
dotnet_diagnostic.CS8625.severity = warning
dotnet_diagnostic.CS8628.severity = error
dotnet_diagnostic.CS8629.severity = error
dotnet_diagnostic.CS8631.severity = error
dotnet_diagnostic.CS8632.severity = warning
dotnet_diagnostic.CS8633.severity = error
dotnet_diagnostic.CS8634.severity = error
dotnet_diagnostic.CS8636.severity = error
dotnet_diagnostic.CS8637.severity = error
dotnet_diagnostic.CS8639.severity = error
dotnet_diagnostic.CS8643.severity = error
dotnet_diagnostic.CS8644.severity = error
dotnet_diagnostic.CS8645.severity = error
dotnet_diagnostic.CS8655.severity = error
dotnet_diagnostic.CS8667.severity = error
dotnet_diagnostic.CS8670.severity = error
dotnet_diagnostic.CS8714.severity = error
dotnet_diagnostic.CS8762.severity = error
dotnet_diagnostic.CS8763.severity = error
dotnet_diagnostic.CS8764.severity = error
dotnet_diagnostic.CS8765.severity = error
dotnet_diagnostic.CS8766.severity = error
dotnet_diagnostic.CS8767.severity = error
dotnet_diagnostic.CS8768.severity = error
dotnet_diagnostic.CS8769.severity = error
dotnet_diagnostic.CS8770.severity = error
dotnet_diagnostic.CS8774.severity = error
dotnet_diagnostic.CS8775.severity = error
dotnet_diagnostic.CS8776.severity = error
dotnet_diagnostic.CS8777.severity = error
dotnet_diagnostic.CS8819.severity = error
dotnet_diagnostic.CS8824.severity = error
dotnet_diagnostic.CS8825.severity = error
dotnet_diagnostic.CS8847.severity = error

# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/#index-of-rules
dotnet_diagnostic.CA1000.severity = error
dotnet_diagnostic.CA1001.severity = error
dotnet_diagnostic.CA1012.severity = error
dotnet_diagnostic.CA1018.severity = error
dotnet_diagnostic.CA1033.severity = error
dotnet_diagnostic.CA1041.severity = error
dotnet_diagnostic.CA1050.severity = error
dotnet_diagnostic.CA1051.severity = suggestion
dotnet_diagnostic.CA1052.severity = warning
dotnet_diagnostic.CA1058.severity = error
dotnet_diagnostic.CA1061.severity = error
dotnet_diagnostic.CA1064.severity = error
dotnet_diagnostic.CA1065.severity = error
dotnet_diagnostic.CA1066.severity = error
dotnet_diagnostic.CA1501.severity = error
dotnet_diagnostic.CA1502.severity = error
dotnet_diagnostic.CA1505.severity = error
dotnet_diagnostic.CA1508.severity = error
dotnet_diagnostic.CA1715.severity = error
dotnet_diagnostic.CA1725.severity = suggestion
dotnet_diagnostic.CA1801.severity = error
dotnet_diagnostic.CA1802.severity = warning
dotnet_diagnostic.CA1805.severity = warning
dotnet_diagnostic.CA1806.severity = error
dotnet_diagnostic.CA1810.severity = error
dotnet_diagnostic.CA1820.severity = suggestion
dotnet_diagnostic.CA1823.severity = warning
dotnet_diagnostic.CA1825.severity = warning
dotnet_diagnostic.CA1829.severity = warning
dotnet_diagnostic.CA1849.severity = suggestion
dotnet_diagnostic.CA1851.severity = suggestion
dotnet_diagnostic.CA1854.severity = warning
dotnet_diagnostic.CA2000.severity = suggestion
dotnet_diagnostic.CA2002.severity = error
dotnet_diagnostic.CA2201.severity = suggestion
dotnet_diagnostic.CA2207.severity = error
dotnet_diagnostic.CA2211.severity = error
dotnet_diagnostic.CA2213.severity = error
dotnet_diagnostic.CA2214.severity = error
dotnet_diagnostic.CA2249.severity = warning
dotnet_diagnostic.CA2251.severity = warning

# https://docs.nunit.org/articles/nunit-analyzers/NUnit-Analyzers.html
dotnet_diagnostic.NUnit1027.severity = suggestion

# https://github.com/fluentassertions/fluentassertions/pull/2943
dotnet_diagnostic.FAA0004.severity = none

# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/#index
dotnet_diagnostic.IDE0001.severity = warning
dotnet_diagnostic.IDE0002.severity = warning
dotnet_diagnostic.IDE0003.severity = warning
dotnet_diagnostic.IDE0004.severity = warning
dotnet_diagnostic.IDE0005.severity = warning
dotnet_diagnostic.IDE0036.severity = warning
dotnet_diagnostic.IDE0051.severity = warning
dotnet_diagnostic.IDE0079.severity = warning
dotnet_diagnostic.IDE0080.severity = warning
dotnet_diagnostic.IDE0100.severity = warning
dotnet_diagnostic.IDE0110.severity = warning
dotnet_diagnostic.IDE0120.severity = warning
dotnet_diagnostic.IDE0121.severity = warning
dotnet_diagnostic.IDE0240.severity = warning
dotnet_diagnostic.IDE0241.severity = warning

# https://github.com/dotnet/roslyn/blob/main/src/RoslynAnalyzers/PublicApiAnalyzers/Microsoft.CodeAnalysis.PublicApiAnalyzers.md
dotnet_diagnostic.RS0016.severity = error
dotnet_diagnostic.RS0017.severity = error
dotnet_diagnostic.RS0024.severity = error
dotnet_diagnostic.RS0025.severity = error
dotnet_diagnostic.RS0026.severity = error
dotnet_diagnostic.RS0027.severity = error
dotnet_diagnostic.RS0036.severity = error
dotnet_diagnostic.RS0037.severity = error
dotnet_diagnostic.RS0041.severity = error
dotnet_diagnostic.RS0048.severity = error

dotnet_style_allow_multiple_blank_lines_experimental = false:warning
dotnet_style_allow_statement_immediately_after_block_experimental = false:warning
dotnet_style_null_propagation = true:warning
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = true:warning
dotnet_style_prefer_auto_properties = true:warning
dotnet_style_prefer_simplified_boolean_expressions = true:warning
dotnet_style_readonly_field = true:warning
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning

csharp_prefer_braces = true:warning
csharp_prefer_simple_default_expression = true:warning
csharp_prefer_simple_using_statement = true:warning
csharp_style_allow_embedded_statements_on_same_line_experimental = false:warning
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = false:warning
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = false:warning
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = false:warning
csharp_style_expression_bodied_indexers = true:warning
csharp_style_expression_bodied_properties = true:warning
csharp_style_inlined_variable_declaration = true:warning
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_not_pattern = true:warning
csharp_using_directive_placement = outside_namespace:warning