@use '../../variables' as v;

.block {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  border-radius: 40px;
  background: var(--color-base-01);
}

.block h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding: 0;
  margin: 0;
}

.list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));
}

.card {
  
}

@media (max-width: v.$tablet-width) {
  .block {
    padding: 28px;
  }
  .list {
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}